/* declaration */
body {
    height: auto;
    width: 100vw;
    margin:0;
    padding:0;

}

/* tag selector */
header {
    height: 10vh;
    width: 100%;
    background-color: #0C0950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position:fixed;
    box-shadow: 0.5px 0.5px 0.5px white;
    /* z-index: 1; */
}

header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font: 18px;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
}

li {
    color: white;
    height: 30px;
    width: 90px;
    cursor: pointer;
    list-style: none;
    font-size: 25px;
    font-weight: 500;
}

/* .main {
    width: 100%;
    height: auto;
} */

/* home section start */
/* section */
.home {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: #213555;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-style: normal;
    color: black;
    font-size: x-large;
}

.home-content {
    height: 90%;
    width: 100%;
    background-color: #213555;
    margin-top: 10px;
    margin-left: 80px;
}

.homepage-imagebox {
    height: 55%;
    width: 50%;
    background-color: white;
    border-radius: 30px;
    margin-right: 160px;
    background-image: url("https://images.stockcake.com/public/e/9/1/e911eae2-5b89-4aba-b739-7acd604172fe_large/coding-at-night-stockcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.heading-one {
    font-size: 50px;
    color: white;
    margin-left: 60px;
    margin-top: 100px;
    margin-bottom: -20px;
    
}

.second-heading {
    font-size: 60px;
    color: rgb(197, 157, 13);
    margin-left: 60px;
    margin-bottom: -5px;
}

p {
    color: white;
    margin-left: 60px;
}

.styl-bio {
    font-size: 40px;
    color: rgb(255, 145, 0);
}
.resume{
    height: 8%;
    width: 25%;
    background-color:rgb(238, 255, 0);
    border-radius: 10px;
    border: none;
    margin-left: 60px;
}
a{
    font-size: 20px;
}
.resume:hover{
    background-color: rgb(0, 208, 255);
}
/* home section end */
/* about section start */
.about-me {
    height: 80vh;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.about-me,
h1 {
    font-size: 40px;



}

.about-content {
    height: 90%;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;


}

.image-box {
    height: 380px;
    width: 23%;
    background-color: beige;
    border-radius: 40px;
    background-image: url("../Assets/Images/ep.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px  5px rgba(128, 128, 128, 0.82);
}

.information-box {
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    font-size: 25px;
    font-style: normal;
    color: black;
    box-shadow: 2px 2px 3px;
}

.about-myself {
    color: black;
}

/* about section end */


/* project section start */
.project {
    height: 80vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    box-shadow: 4px 4px 4px;
}



.project-container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-direction: row;
    gap: 40px;

}

.project-cards-one {
    height: 90%;
    width: 80%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(214, 231, 236, 0.649);
    box-shadow: 4px 4px 6px rgba(128, 128, 128, 0.791);


}

.project-cards-two {
    height: 90%;
    width: 80%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(221, 231, 234, 0.677);
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.809);

}

.project-card-three {
    height: 90%;
    width: 80%;
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(213, 228, 233, 0.749);
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.809);

}


button {
    height: 15%;
    width: 50%;
    background-color: rgb(235, 240, 243);
    border-radius: 10px;
    margin-left: 40px;
    box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.75);
}

a {
    text-decoration: none;
    font-size: 18px;
}

/* project section end */

/* contact section start */
.contact {
    height: 80vh;
    width: 100%;
    background-color: #FFF8F3;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 20px;
}



.contact-box {
    height: 100%;
    width: 100%;
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.left-container{
    height:70%;
    width: 90%;
    background-color:#FFF8F3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.container-one{
    height: 50%;
    width: 30%;
    background-color:#FFF8F3;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.782);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.font-size{
    font-size:x-large ;
}

.cm {
    margin-right: 190px;
    color: black;
    font-size: 30px;
    font-weight: 200;
}


.click-button:hover {
    color: lightblue;
}
 

/* contact section end */

