/* declaration */
body {
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;

}

/* tag selector */
header {
    height: 10vh;
    width: 100%;
    background-color: #0C0950;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font: 18px;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
}

li {
    color: white;
    height: 30px;
    width: 90px;
    cursor: pointer;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

.main {
    width: 100%;
    height: auto;
}

/* home section start */
/* section */
.home {
    width: 100%;
    height: 100vh;
    padding: 0 60px;
    background-color: #213555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    color: black;
    font-size: x-large;
}

.home-content {
    height: 90%;
    width: 100%;
    background-color: #213555;
    margin-top: 10px;
}

.land-imagebox {
    height: 55%;
    width: 50%;
    background-color: white;
    border-radius: 30px;
    margin-right: 160px;
    background-image: url("https://images.stockcake.com/public/b/0/a/b0afd8a7-63c9-40c5-acd7-bfbc4ed715cc_large/coder-at-work-stockcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.heading-one {
    font-size: 50px;
    color: white;
    margin-left: 70px;
    margin-top: 150px;
}

.second-heading {
    font-size: 60px;
    color: rgb(197, 157, 13);
    margin-left: 70px;
}

p {
    color: white;
    margin-left: 70px;
}

.styl-bio {
    font-size: 40px;
    color: rgb(255, 145, 0);
}

/* home section end */
/* about section start */
.AboutMe {
    height: 80%;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-title {
    height: 10%;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: larger;
}

.AboutMe,
h1 {
    font-size: 40px;

}

.about-content {
    height: 70%;
    width: 100%;
    background-color: #F6F4EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;


}

.image-box {
    height: 100%;
    width: 23%;
    border-style: solid;
    border-color: rgb(86, 92, 98);
    background-color: beige;
    border-radius: 40px;
    background-image: url("./dishuy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 3px;
}

.information-box {
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    font-size: 25px;
    font-style: normal;
    color: black;
    box-shadow: 2px 2px 3px;
}

.about-myself {
    color: black;
}

/* about section end */


/* project section start */
.project {
    height: 60%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    box-shadow: 4px 4px 4px;
}

.project-title {
    height: 17%;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    gap: 50px;
}

.project-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-direction: row;
    gap: 30px;

}

.project-cards-one {
    height: 90%;
    width: 80%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(214, 231, 236, 0.649);
    box-shadow: 4px 4px 6px;


}

.project-cards-two {
    height: 90%;
    width: 80%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(221, 231, 234, 0.677);
    box-shadow: 4px 4px 4px;

}

.project-card-three {
    height: 90%;
    width: 80%;
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(213, 228, 233, 0.749);
    box-shadow: 4px 4px 4px;

}


button {
    height: 10%;
    width: 40%;
    background-color: rgb(235, 240, 243);
    border-radius: 10px;
    margin-left: 40px;
}

a {
    text-decoration: none;
}

/* project section end */

/* contact section start */
.contact {
    height: 90%;
    width: 100%;
    background-color: #FFF8F3;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.contact-title {
    height: 15%;
    width: 100%;
    background-color: white;
}

.contact-box {
    height: 50%;
    width: 100%;
    background-color: #FFF8F3;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.left-container{
    height:70%;
    width: 90%;
    background-color:#FFF8F3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-one{
    height: 90%;
    width: 30%;
    background-color:#FFF8F3;
}



.cm {
    margin-right: 190px;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

h2 {
    margin-right: 100px;
}

.click-button:hover {
    color: lightblue;
}
.footer{
    height: 20%;
    width: 100%;
    background-color: #0C0950;
}
/* contact section end */